{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
     <img height="350" src="/img/kube/grplogo_new.png" width="398">
    <p>{{.Description}}</p>
  </div>

  <div id="action-buttons">
    <a class="button primary big" href="https://docs.google.com/forms/d/e/1FAIpQLSc0RADz6Sv0Xk3DXnw0Rx0YKX1IeEHkfIWKdSqdlh6QEXKvyw/viewform" target="_blank" onclick="_gaq.push(['_trackEvent', 'kube', 'download']);">Devenez membre</a>
    <p><span>Si vous êtes Professeur(e)/Chercheur(euse)/Étudiant(e) en académie ou en industrie et vous aimez travailler les données.</span></p>
  </div>
 
  <div class="message focus" data-component="message"> <span class="close small"></span>
    <a class="button inverted small " >Greprovad </a> promeut l'excellence scientifique et le transfert pour avoir le plus grand impact. 
  </div>
  
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Baseline" height="350" src="{{ "/img/kube/mission_img.png" | relURL }}" width="398">
        </figure>
        <h3>Mission</h3>
        <ul>
            <li align="justify">Participer au développement d’une filière économique autour de l’exploitation des données massives pour la prise de décision</li>
            <li>Développer des partenariats privilégiés entre l’industrie et les milieux administratifs, sociaux et universitaires de la République Démocratique du Congo</li>
            <li>Contribuer à l’avancement des connaissances et former les nouvelles générations de scientifiques des données</li>
        </ul>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Typography" height="330" src="{{ "/img/kube/vision_img.png" | relURL }}" width="368">
        </figure>
        <h3>Vision</h3>
        <p><ul><li>Faire de la République Démocratique du Congo un pôle économique et scientifique internationalement reconnu de recherche, de formation, de transfert technologique et de création de valeur, d’emplois et d’entreprises autour de l’exploitation des données massives pour la prise de décision.</li></ul></p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Minimalism" height="350" src="{{ "/img/kube/data_img.png" | relURL }}" width="269">
        </figure>
        <h3>Bien social</h3>
        <p><ul><li>Greprovad souhaite ardemment aider à résoudre certains des problèmes sociaux les plus difficiles et à analyser les applications potentielles du bien social.</li></ul></p>
      </div>           
    </div>

    
    <h4>Partenaires</h4>
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Typography" height="350" src="{{ "/img/kube/cefa.JPG" | relURL }}" width="398">
        </figure>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Typography" height="300" src="{{ "/img/kube/lisungi.png" | relURL }}" width="398">
        </figure>
      </div>
   
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer"}} {{end}}
